extend layout
block link
  style
    include CSS/article.css
block left
    if ( (user.u_pseudo == article.a_user) && (edit == null))
      h1.text-center=article.a_title
      div.row
        nav.nav.nav-pills.fs-7.lh-1.col-9
          a.h4.nav-link.active.rounded-pill(href=article.a_link)=article.a_link
          h4.nav-link.bg-secondary.rounded-pill.text-white=article.a_user
          h4.nav-link.bg-secondary.rounded-pill.text-white=article.a_date
        div.col-1
        nav.nav.nav-pills.fs-7.lh-1.col-2
          form(action="/article/edite/article/"+article.a_id+"/processing",method="post")
            button.nav-link.bg-success.rounded-pill.text-white="Editer"
          form(action="/article/del/article/"+article.a_id,method="post")
            button.nav-link.bg-danger.rounded-pill.text-white="Supprimer"
        p.h3.my-a_content=article.a_content
    else if ( (edit != null) && (edit.id == article.a_id) )
      h1.text-center="Modification de "+article.a_title
      form.row(action="/article/edite/article/"+article.a_id+"/saved",method="post")
        input.col-12(type="text", minlength="1", maxlength="255", required="required", placeholder="Titre",name="new_title", value=edit.title)
        div.row
        input.col-6(type="text", minlength="1", maxlength="255", required="required", placeholder="Lien",name="link", value=edit.link)
        input.col-6(type="text", minlength="1", maxlength="255", required="required", placeholder="Sub-reddit",name="sub", value=edit.sub)
        div.row
        textarea.col-12(type="text", rows="20", minlength="1", maxlength="40000", required="required", placeholder="Contenu",name="content")=edit.content
        div.col-9
        nav.nav.nav-pills.fs-7.lh-1.col-3
          button.nav-link.bg-success.rounded-pill.text-white.mb-2="Valider"
          form(action="foo")
          form(action="/article/edite/article/"+article.a_id+"/cancel",method="post")
            button.nav-link.bg-warning.rounded-pill.text-white.mb-2="Annuler"
          form(action="/article/edite/article/"+article.a_id+"/del",method="post")
            button.nav-link.bg-danger.rounded-pill.text-white.mb-2="Supprimer"
    else
      h1.text-center=article.a_title
      nav.nav.nav-pills.fs-7.lh-1
        a.h4.nav-link.active.rounded-pill(href=article.a_link)=article.a_link
        h4.nav-link.bg-secondary.rounded-pill.text-white=article.a_user
        h4.nav-link.bg-secondary.rounded-pill.text-white=article.a_date
      p.h3.my-a_content=article.a_content
    form.row.mt-3(action="/comment/"+article.a_id+"/new",method="post")
      div.col-8
        textarea.col-12(type="text", rows="6", minlength="1", maxlength="40000", required="required", placeholder="Commentaire",name="content")
      article.col-4
        header.h2="Ajoutez un commentaire"
        p.h5=user.u_pseudo+", réagissez à "+article.a_title +" !"
        button.mt-3="Valider"
    - for(var i=0; i < comments.length; i++)
      div.container.row.mt-5
        div.col-1.text-center
          if (votes[i] != undefined)
            if (votes[i].v_vote == 1)
              form(action="/article/"+article.a_id+"/vote/cancel/"+user.u_id+"/"+comments[i].id+"/comment/-1/"+(comments[i].score - 1),method="post")
                button.mb-2="cancel"
              h4.text-success=comments[i].score
              form(action="/article/"+article.a_id+"/vote/udapte/"+user.u_id+"/"+comments[i].id+"/comment/-1/"+(comments[i].score - 2),method="post")
                button="down"
            if (votes[i].v_vote == -1)
              form(action="/article/"+article.a_id+"/vote/udapte/"+user.u_id+"/"+comments[i].id+"/comment/1/"+(comments[i].score + 2),method="post")
                button.mb-2="up"
              h4.text-danger=comments[i].score
              form(action="/article/"+article.a_id+"/vote/cancel/"+user.u_id+"/"+comments[i].id+"/comment/+1/"+(comments[i].score + 1),method="post")
                button="cancel"
          else
            form(action="/article/"+article.a_id+"/vote/new/"+user.u_id+"/"+comments[i].id+"/comment/1/"+(comments[i].score + 1),method="post")
              button.mb-2="up"
            h4=comments[i].score
            form(action="/article/"+article.a_id+"/vote/new/"+user.u_id+"/"+comments[i].id+"/comment/-1/"+(comments[i].score - 1),method="post")
              button="down"
        article.col-11
          h3=comments[i].pseudo
          p=comments[i].content

block right
  div.container
    h2.text-center.mt-5="Aussi dans la sub reddit'eirb "+article.a_sub
    - for(var i=0; i < related.length; i++)
      div.row.mt-4
      a.h4.text-decoration-none.text-dark(href="/article/"+related[i].a_id)=related[i].a_title+" de "+related[i].a_user+" avec un score de "+related[i].a_score
