extend layout
block link
  include CSS/article.css
block left
    div.row.mt-5.mb-4(id="top")
      if (vote != undefined)
        if (vote.v_vote == 1)
          div#upped.col-1.align-self-center.text-center
            form(action="/article/"+article.a_id+"/vote/cancel/"+user.u_id+"/"+article.a_id+"/article/-1/"+(article.a_score - 1),method="post")
              button#cancel.mb-2="cancel"
            h4=article.a_score
            form(action="/article/"+article.a_id+"/vote/udapte/"+user.u_id+"/"+article.a_id+"/article/-1/"+(article.a_score - 2),method="post")
              button#down="down"
        if (vote.v_vote == -1)
          div#downed.col-1.align-self-center.text-center
            form(action="/article/"+article.a_id+"/vote/udapte/"+user.u_id+"/"+article.a_id+"/article/1/"+(article.a_score + 2),method="post")
              button#up.mb-2="up"
            h4=article.a_score
            form(action="/article/"+article.a_id+"/vote/cancel/"+user.u_id+"/"+article.a_id+"/article/+1/"+(article.a_score + 1),method="post")
              button#cancel="cancel"
      else
        div#nulled.col-1.align-self-center.text-center
          form(action="/article/"+article.a_id+"/vote/new/"+user.u_id+"/"+article.a_id+"/article/1/"+(article.a_score + 1),method="post")
            button#up.mb-2="up"
          h4=article.a_score
          form(action="/article/"+article.a_id+"/vote/new/"+user.u_id+"/"+article.a_id+"/article/-1/"+(article.a_score - 1),method="post")
            button#down="down"
      if ( (edit != null) && (edit.kind == "article") )
        h1.col-10.align-self-center.text-center="Modification de "+article.a_title
      else
        h1.col-10.align-self-center.text-center=article.a_title
      div.col-1.mb-3
    if ( ((user.u_id == article.a_user) && (edit == null)) || ((edit != null) && (edit.kind != "article")) )
      div.row.mb-5
        nav.nav.nav-pills.fs-7.lh-1.col-9
          a(href=article.a_link)=article.a_link
          a(href="/profils")=article.u_pseudo
          a(href="#")=article.a_date
        if (edit == null)
          nav.nav.nav-pills.fs-7.lh-1.col-2.row
            form.col-6(action="/article/"+article.a_id+"/edite/article/"+article.a_id+"/processing",method="post")
              button#edit="Editer"
            form.col-6(action="/article/"+article.a_id+"/del/article/"+article.a_id,method="post")
              button#delete="Supprimer"
        p.h3.my-a_content=article.a_content
    else if ( (edit != null) && (edit.id == article.a_id) )
      form.row(action="/article/"+article.a_id+"/edite/article/"+article.a_id+"/saved",method="post")
        input.col-12(type="text", minlength="1", maxlength="255", required="required", placeholder="Titre",name="new_title", value=edit.title)
        div.row
        input.col-6(type="text", minlength="1", maxlength="255", required="required", placeholder="Lien",name="link", value=edit.link)
        input.col-6(type="text", minlength="1", maxlength="255", required="required", placeholder="Sub-reddit",name="sub", value=edit.sub)
        div.row
        textarea.col-12(type="text", rows="20", minlength="1", maxlength="40000", required="required", placeholder="Contenu",name="content")=edit.content
        nav.nav.nav-pills.fs-7.lh-1.justify-content-end
          button#publish.mb-2="Valider"
          form(action="foo")
          form(action="/article/"+article.a_id+"/edite/article/"+article.a_id+"/cancel",method="post")
            button#cancel.mb-2="Annuler"
          form(action="/article/"+article.a_id+"/edite/article/"+article.a_id+"/del",method="post")
            button#delete.mb-2="Supprimer"
    else
      nav.nav.nav-pills.fs-7.lh-1
        a(href=article.a_link)=article.a_link
        a(href="/search_user/"+article.u_pseudo)=article.u_pseudo
        a(href="#")=article.a_date
      p.h3.my-a_content=article.a_content
    form.row.mt-3(action="/comment/"+article.a_id+"/new",method="post")
      div.col-8
        textarea.col-12(type="text", rows="6", minlength="1", maxlength="40000", required="required", placeholder="Commentaire",name="content")
      article.col-4.align-self-center.text-center(id="middle")
        header.h2="Ajoutez un commentaire"
        p.h5=user.u_pseudo+", réagissez à "+article.a_title +" !"
        button#publish.mb-2="Valider"
    each comment in comments
      div.container.row.mt-4
        if ( (edit != null) && (edit.kind == "comment") && (comment.c_id == edit.id) )
          h2.text-center(id="editing")="Edition de votre commentaire"
        if (comment.v_vote != undefined)
          if (comment.v_vote == 1)
            div#upped.col-1.align-self-center.text-center
              form(action="/article/"+article.a_id+"/vote/cancel/"+user.u_id+"/"+comment.c_id+"/comment/1/"+(comment.c_score - 1),method="post")
                button#cancel.mb-2="cancel"
              h4=comment.c_score
              form(action="/article/"+article.a_id+"/vote/udapte/"+user.u_id+"/"+comment.c_id+"/comment/-1/"+(comment.c_score - 2),method="post")
                button#down="down"
          if (comment.v_vote == -1)
            div#downed.col-1.align-self-center.text-center
              form(action="/article/"+article.a_id+"/vote/udapte/"+user.u_id+"/"+comment.c_id+"/comment/1/"+(comment.c_score + 2),method="post")
                button#up.mb-2="up"
              h4=comment.c_score
              form(action="/article/"+article.a_id+"/vote/cancel/"+user.u_id+"/"+comment.c_id+"/comment/+1/"+(comment.c_score + 1),method="post")
                button#cancel="cancel"
        else
          div#nulled.col-1.align-self-center.text-center
            form(action="/article/"+article.a_id+"/vote/new/"+user.u_id+"/"+comment.c_id+"/comment/1/"+(comment.c_score + 1),method="post")
              button#up.mb-2="up"
            h4=comment.c_score
            form(action="/article/"+article.a_id+"/vote/new/"+user.u_id+"/"+comment.c_id+"/comment/-1/"+(comment.c_score - 1),method="post")
              button#down="down"
        article.col-10
          div.row.mt-2
            h3.col-9=comment.u_pseudo
            if (comment.c_user == user.u_id)
              if (edit == null)
                nav.nav.nav-pills.fs-7.lh-1.col-3.row
                  form.col-6(action="/article/"+article.a_id+"/edite/comment/"+comment.c_id+"/processing",method="post")
                    button#edit.mb-2="Editer"
                  form.col-6(action="/article/"+article.a_id+"/del/comment/"+comment.c_id,method="post")
                    button#delete.mb-2="Supprimer"
                p.my-text-align-justify.fs-5=comment.c_content
              else if ( (edit.kind == "comment") && (comment.c_id == edit.id) )
                form(action="/article/"+article.a_id+"/edite/comment/"+comment.c_id+"/saved",method="post")
                  textarea.col-12(type="text", rows="7", minlength="1", maxlength="40000", required="required", placeholder="Contenu",name="content")=edit.content
                  nav.nav.nav-pills.fs-7.lh-1.justify-content-end
                    button#publish.mb-2="Valider"
                    form(action="foo")
                    form(action="/article/"+article.a_id+"/edite/comment/"+comment.c_id+"/cancel",method="post")
                      button#cancel.mb-2="Annuler"
                    form(action="/article/"+article.a_id+"/edite/comment/"+comment.c_id+"/del",method="post")
                      button#delete.mb-2="Supprimer"
              else
                p.my-text-align-justify.fs-5=comment.c_content
            else
              p.my-text-align-justify.fs-5=comment.c_content
block right
  div.container.mt-5
    a(href="/sub/"+article.a_sub)
      if (related.length == 0)
        h2.text-dark.text-center="Aucun autre post dans la sub-reddit "+article.a_sub
      else
        h2.text-dark.text-center="Aussi dans la sub-reddit "+article.a_sub
        div
          each article in related
            a.row(href="/article/"+article.a_id+"?reset=edit")
              h4.col-auto.text-decoration-none.text-dark.text-center=article.a_title+" de "+article.u_pseudo+" ("+article.a_score+")"
  div.container.mt-5
    h2.text-center="Navigation"
    div
      if ( (edit != null) && (edit.kind == "article") )
        a.row(href="#top")
          h4.col-auto.text-decoration-none.text-dark.text-center="Modification du post"
      else
        a.row(href="#top")
          h4.col-auto.text-decoration-none.text-dark.text-center="Début du post"
      if ( (edit != null) && (edit.kind == "comment") )
        a.row(href="#editing")
          h4.text-decoration-none.text-dark="Commentaire en édition"
      a.row(href="#middle")
        h4.col-auto.text-decoration-none.text-dark.text-center="Les commentaires"
