extend layout.jade
block left
  - for(var i=0; i < articles.length; i++)
    if (articles[i] != undefined)
      div.container.row.mt-5
        div.col-1.text-center
          if (votes[i] != undefined)
            if (votes[i].v_vote == 1)
              h4.text-success="up"
              h4.text-success=articles[i].a_score
              form(action="/home/vote/udapte/"+user.u_id+"/"+articles[i].a_id+"/article/-1/"+(articles[i].a_score - 1),method="post")
                button.text-secondary="down"
            if (votes[i].v_vote == -1)
              form(action="/home/vote/udapte/"+user.u_id+"/"+articles[i].a_id+"/article/1/"+(articles[i].a_score + 1),method="post")
                button.mb-2.text-secondary="up"
              h4.text-danger=articles[i].a_score
              h4.text-danger="down"
          else
            form(action="/home/vote/new/"+user.u_id+"/"+articles[i].a_id+"/article/1/"+(articles[i].a_score + 1),method="post")
              button.mb-2="up"
            h4=articles[i].a_score
            form(action="/home/vote/new/"+user.u_id+"/"+articles[i].a_id+"/article/-1/"+(articles[i].a_score - 1),method="post")
              button="down"
        div.col-9
          h4=articles[i].a_user + ", le " +articles[i].a_date
          h3=articles[i].a_title
          h5=articles[i].a_reaction
        
