extend layout.jade
block link
  include CSS/home.css
block top
  form.row.mt-5.mb-5(action="/home/0/new",method="post")
    div.col-9
      input.col-12(type="text", minlength="1", maxlength="255", required="required", placeholder="Titre",name="title")
      div.row
      input.col-6(type="text", minlength="1", maxlength="255", required="required", placeholder="Lien",name="link")
      input.col-6(type="text", minlength="1", maxlength="255", required="required", placeholder="Sub-reddit",name="sub")
      div.row
      textarea.col-12(type="text", rows="5", minlength="1", maxlength="40000", required="required", placeholder="Contenu",name="content")
    article.col-3.h-100.pb-4
      header.h2.text-center.mt-2="Nouveau post"
      p.h5.text-center="Partagez votre nouvelle découverte " + user.u_pseudo + " !"
        div.row
        button#publish.mt-4.btn-lg.btn-block.text-center="Publier"
block left
  h1.text-center.mt-2.mb-5="Les posts populaires sur ces dernières 24h"
  each article in articles
    if ( (edit != null) && (edit.id == article.a_id) )
        h2.text-center(id="editing")="Edition de votre post"
    div.container.row.mb-4
      if (article.v_vote != undefined)
        if (article.v_vote == 1)
          div#upped.col.col-auto.align-self-center.text-center.my-text-align-justify
            form(action="/home/0/vote/cancel/"+user.u_id+"/"+article.a_id+"/article/-1/"+(article.a_score - 1),method="post")
              button.mb-2#cancel="cancel"
            h4=article.a_score
            form(action="/home/0/vote/udapte/"+user.u_id+"/"+article.a_id+"/article/-1/"+(article.a_score - 2),method="post")
              button#down="down"
        if (article.v_vote == -1)
          div#downed.col.col-auto.align-self-center.text-center.my-text-align-justify
            form(action="/home/0/vote/udapte/"+user.u_id+"/"+article.a_id+"/article/1/"+(article.a_score + 2),method="post")
              button.mb-2#up="up"
            h4=article.a_score
            form(action="/home/0/vote/cancel/"+user.u_id+"/"+article.a_id+"/article/+1/"+(article.a_score + 1),method="post")
              button#cancel="cancel"
      else
        div#nulled.col.col-auto.align-self-center.text-center.my-text-align-justify
          form(action="/home/0/vote/new/"+user.u_id+"/"+article.a_id+"/article/1/"+(article.a_score + 1),method="post")
            button.mb-2#up="up"
          h4=article.a_score
          form(action="/home/0/vote/new/"+user.u_id+"/"+article.a_id+"/article/-1/"+(article.a_score - 1),method="post")
            button#down="down"
      div.col-10
        div.row
          if ( (edit != null) && (edit.id == article.a_id) )
            form.row(action="/home/0/edite/article/"+article.a_id+"/saved",method="post")
              div.col-10
                input.col-12(type="text", minlength="1", maxlength="255", required="required", placeholder="Titre",name="new_title", value=edit.title)
                div.row
                input.col-6(type="text", minlength="1", maxlength="255", required="required", placeholder="Lien",name="link", value=edit.link)
                input.col-6(type="text", minlength="1", maxlength="255", required="required", placeholder="Sub-reddit",name="sub", value=edit.sub)
                div.row
                textarea.col-12(type="text", rows="5", minlength="1", maxlength="40000", required="required", placeholder="Contenu",name="content")=edit.content
              div.col-2
                button#save.col-12.mb-4.mt-4="Sauvegarder"
                div.row
                form(action="foo")
                form(action="/home/0/edite/article/"+article.a_id+"/cancel",method="post")
                  button#cancel.col-12.mb-2="Annuler"
                div.row
                form(action="/home/0/edite/article/"+article.a_id+"/del",method="post")
                  button#delete.col-12="Supprimer"
          else
            a.col-9.text-decoration-none.text-dark.mt-1(href="/article/"+article.a_id+"?reset=edit")
              h4=article.u_pseudo + ", le " +article.a_date
              h3=article.a_title + " (" + article.a_interaction + ")"
              if (article.a_reaction > 1)
                h5=article.a_reaction + " commentaires"
              else
                h5=article.a_reaction + " commentaire"
            div.col-2
              if (article.a_user == user.u_id)
                div.row.mt-2
                  if (edit == null)
                    form.col-6(action="/home/0/edite/article/"+article.a_id+"/processing",method="post")
                      button#edit="Editer"
                    form.col-6(action="/home/0/del/article/"+article.a_id,method="post")
                      button#delete="Supprimer"
              a(href="/home/0/favorite/"+article.a_id)
                if (article.favorite == null)
                  img.my-favorite(src="./not_favorite.png" alt="non favoris" title="Ajouter aux favoris")
                else
                  img.my-favorite(src="./favorite.png" alt="favoris" title="Retirer des favoris")
  div(id="bottom")
block right
  img#menu-illustration(src="./footer_illustration.svg" alt="fin des catégories" width="800")
  div.container.mt-3.mb-5
    h2.text-center="Vos Sub-reddit d'intérêt"
    div#sub.mb-5
      each sub in subs
        if (edit != null)
          a.row(href="sub/"+sub.title+"?reset=edit")
            h3.col-auto.text-decoration-none.text-dark.mt-2=sub.title
        else
          a.row(href="sub/"+sub.title)
            h3.col-auto.text-decoration-none.text-dark.mt-2=sub.title
  div#Navigation
    div.container
      h2.text-center="Navigation"
      div#anchor
        a.row(href="#top")
          h3.text-decoration-none.text-dark.mt-1="Haut de page"
        if (edit != null)
          a.row(href="#editing")
            h3.text-decoration-none.text-dark.mt-1="Edition en cours"
        else
          a.row(href="#bottom")
            h3.text-decoration-none.text-dark.mt-1="Bas de page"
