doctype html
html(lang="fr")
  head
    html(lang="fr")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous")
    title= title
  body
    header
      div.container
        div.row
          div.col
            h4.text-secondary.font-weight-bold= "Reddit'eirb"
          div.col.mt-2
            input(type="text", placeholder="Search",name="search_input")
          div.col.mt-2
            nav.nav.nav-pills.justify-content-end
              h3=u_pseudo
              form(action="/deconnexion",method="post")
                button(type= "deco")="Déconnexion"
          hr.text-dark.font-weight-bold
  div.container
    h3="Dernière connexion le " + u_connexion
