doctype html
html(lang="fr")
  head
    html(lang="fr")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous")
    style
      include CSS/general.css
      include CSS/layout.css
      block link
    title="Reddit'eirb"
  body
    header#navigation
      div.container
        div.row
          div.col-3.align-self-center
            a.row(href="/?reset=edit")
              //img#DDLC.col.col-auto(src="./DDLC_mirror.png" alt="logo DDLC")
              h3.col-auto.mt-4.pt-3.text-dark="Accueil"
              //img#ENSEIRB.col-auto.h-100(src="./ENSEIRB-MATMECA.png" alt="logo ENSEIRB")
          div.col.5.mt-2
            form(action="/search",autocomplete="off",method="post")
              div.col
                input.form-control(type="text", required="required", placeholder="Chercher un article",name="search_input")
              div.col.mt-2
                div.row
                  div.col-auto.align-self-center
                    div.form-check
                      input.form-check-input(type="radio" name="search_choice" id="a_title" value="a_title" checked="checked")
                      label.form-check-label(for="a_title")
                        Default Titre
                  div.col-auto.align-self-center
                    div.form-check
                      input.form-check-input(type="radio" name="search_choice" id="a_sub" value="a_sub")
                      label.form-check-label(for="a_sub")
                        Default.checked Sub-reddit
                  div.col-auto.align-self-center
                    div.form-check
                      input.form-check-input(type="radio" name="search_choice" id="a_user" value="a_user")
                      label.form-check-label(for="a_user")
                        Default.checked Auteur
                  div.col-auto.align-self-center.mr-auto
                    div.form-check
                      input.form-check-input(type="radio" name="search_choice" id="a_content" value="a_content")
                      label.form-check-label(for="a_content")
                        Default.checked Contenu 
                  div.col-auto.justify-content-between.ms-auto
                    button#search(type="submit")="Chercher"
          div.col.4.mt-3.align-self-center
            div.row
              div.col-9
                a#pseudo.h3.text-dark.float-end(href="/profils")=user.u_pseudo
              div.col-3
                form.mt-2(action="/deconnexion",method="post")
                  button#deconnexion(type="deco")="Déconnexion"
    div.container
      div#top
        br
        block top
      div.row
        div.col-9#left
          block left
        div.col-3.h-100#right
          block right
    
