extend layout
block link
  include CSS/profils.css
block left
  h1.my-anchor.mt-5.text-center(id="top")="Vos posts les plus récents"
  div.row
  -var com_index_owned = 0
  each article in owned
    if ( (edit != null) && (edit.id == article.a_id) && (edit.kind == "article"))
        h2.text-center(id="editing")="Edition de votre post"
    div.container.row.mb-5
      if (article.v_vote != undefined)
        if (article.v_vote == 1)
          div#upped.col-1.align-self-center.text-center.my-text-align-justify
            form(action="/profils/0/vote/cancel/"+user.u_id+"/"+article.a_id+"/article/-1/"+(article.a_score - 1),method="post")
              button#cancel.mb-2="cancel"
            h4=article.a_score
            form(action="/profils/0/vote/udapte/"+user.u_id+"/"+article.a_id+"/article/-1/"+(article.a_score - 2),method="post")
              button#down="down"
        if (article.v_vote == -1)
          div#downed.col-1.align-self-center.text-center.my-text-align-justify
            form(action="/profils/0/vote/udapte/"+user.u_id+"/"+article.a_id+"/article/1/"+(article.a_score + 2),method="post")
              button#up.mb-2="up"
            h4=article.a_score
            form(action="/profils/0/vote/cancel/"+user.u_id+"/"+article.a_id+"/article/+1/"+(article.a_score + 1),method="post")
              button#cancel="cancel"
      else
        div#nulled.col-1.align-self-center.text-center.my-text-align-justify
          form(action="/profils/0/vote/new/"+user.u_id+"/"+article.a_id+"/article/1/"+(article.a_score + 1),method="post")
            button#up.mb-2="up"
          h4=article.a_score
          form(action="/profils/0/vote/new/"+user.u_id+"/"+article.a_id+"/article/-1/"+(article.a_score - 1),method="post")
            button#down="down"
      div.col-10.pt-2
        div.row
          if ( (edit != null) && (edit.id == article.a_id) && (edit.kind == "article"))
            form.row(action="/profils/0/edite/article/"+article.a_id+"/saved",method="post")
              div.col-10
                input.col-12(type="text", minlength="1", maxlength="255", required="required", placeholder="Titre",name="new_title", value=edit.title)
                div.row
                input.col-6(type="text", minlength="1", maxlength="255", required="required", placeholder="Lien",name="link", value=edit.link)
                input.col-6(type="text", minlength="1", maxlength="255", required="required", placeholder="Sub-reddit",name="sub", value=edit.sub)
                div.row
                textarea.col-12(type="text", rows="5", minlength="1", maxlength="40000", required="required", placeholder="Contenu",name="content")=edit.content
              div.col-2
                button#save.col-12.mb-4.mt-4="Sauvegarder"
                div.row
                form(action="foo")
                form(action="/profils/0/edite/article/"+article.a_id+"/cancel",method="post")
                  button#cancel.col-12.mb-2="Annuler"
                div.row
                form(action="/profils/0/edite/article/"+article.a_id+"/del",method="post")
                  button#delete.col-12="Supprimer"
          else
            div.row
              a.col-9.text-decoration-none.text-dark(href="/article/"+article.a_id+"?reset=edit")
                  h4=user.u_pseudo + ", le " +article.a_date
                  h3=article.a_title
                  if (article.a_reaction > 1)
                    h5=article.a_reaction + " commentaires"
                  else
                    h5=article.a_reaction + " commentaire"
              div.col-2
                div.row
                  if (edit == null)
                    form.col-6(action="/profils/0/edite/article/"+article.a_id+"/processing",method="post")
                      button#edit="Editer"
                    form.col-6(action="/profils/0/del/article/"+article.a_id,method="post")
                      button#delete="Supprimer"
                a(href="/profils/0/favorite/"+article.a_id)
                  if (article.favorite == null)
                    img.my-favorite(src="./not_favorite.png" alt="non favoris" title="Ajouter aux favoris")
                  else
                    img.my-favorite(src="./favorite.png" alt="favoris" title="Retirer des favoris")
      - while ((comments_in_owned[com_index_owned] != undefined) && (article.a_id == comments_in_owned[com_index_owned].a_id))
          if ( (com_index_owned == 0) || (comments_in_owned[com_index_owned-1].a_id != article.a_id) )
            div.row
              div.col-10.offset-1.mb-3.mt-2
                if ( (com_index_owned + 1 == comments_in_owned.length) || (comments_in_owned[com_index_owned+1].a_id != article.a_id) )
                  h4= "Votre commentaire: "
                else
                  h4= "Vos commentaires: "
          div.row
            div.col-1.my-vertical
            div.col-1.text-center.mb-4
                if (comments_in_owned[com_index_owned].v_vote != undefined)
                  if (comments_in_owned[com_index_owned].v_vote == 1)
                    form(action="/profils/0/vote/cancel/"+user.u_id+"/"+comments_in_owned[com_index_owned].c_id+"/comment/-1/"+(comments_in_owned[com_index_owned].c_score - 1),method="post")
                      button#cancel.mb-2="cancel"
                    h4.text-success=comments_in_owned[com_index_owned].c_score
                    form(action="/profils/0/vote/udapte/"+user.u_id+"/"+comments_in_owned[com_index_owned].c_id+"/comment/-1/"+(comments_in_owned[com_index_owned].c_score - 2),method="post")
                      button#down="down"
                  if (comments_in_owned[com_index_owned].v_vote == -1)
                    form(action="/profils/0/vote/udapte/"+user.u_id+"/"+comments_in_owned[com_index_owned].c_id+"/comment/1/"+(comments_in_owned[com_index_owned].c_score + 2),method="post")
                      button#up.mb-2="up"
                    h4.text-danger=comments_in_owned[com_index_owned].c_score
                    form(action="/profils/0/vote/cancel/"+user.u_id+"/"+comments_in_owned[com_index_owned].c_id+"/comment/+1/"+(comments_in_owned[com_index_owned].c_score + 1),method="post")
                      button#cancel="cancel"
                else
                  form(action="/profils/0/vote/new/"+user.u_id+"/"+comments_in_owned[com_index_owned].c_id+"/comment/1/"+(comments_in_owned[com_index_owned].c_score + 1),method="post")
                    button#up.mb-2="up"
                  h4=comments_in_owned[com_index_owned].c_score
                  form(action="/profils/0/vote/new/"+user.u_id+"/"+comments_in_owned[com_index_owned].c_id+"/comment/-1/"+(comments_in_owned[com_index_owned].c_score - 1),method="post")
                    button#down="down"
              div.col-9.mb-4
                if (edit == null)
                  div.row
                    div.col-9
                      p.my-text-align-justify= comments_in_owned[com_index_owned].c_content
                    div.col-3.row
                      form.col-6(action="/profils/"+article.a_id+"/edite/comment/"+comments_in_owned[com_index_owned].c_id+"/processing",method="post")
                        button#edit.mb-2="Editer"
                      form.col-6(action="/profils/"+article.a_id+"/del/comment/"+comments_in_owned[com_index_owned].c_id,method="post")
                        button#delete.mb-2="Supprimer"
                else if ( (edit.kind == "comment") && (comments_in_owned[com_index_owned].c_id == edit.id) )
                  h2.text-center(id="editing")="Edition de votre commentaire"
                  form(action="/profils/"+article.a_id+"/edite/comment/"+comments_in_owned[com_index_owned].c_id+"/saved",method="post")
                    textarea.col-12(type="text", rows="7", minlength="1", maxlength="40000", required="required", placeholder="Contenu",name="content")=edit.content
                    nav.nav.nav-pills.fs-7.lh-1.justify-content-end
                      button#publish.mb-2="Valider"
                      form(action="foo")
                      form(action="/profils/"+article.a_id+"/edite/comment/"+comments_in_owned[com_index_owned].c_id+"/cancel",method="post")
                        button#cancel.mb-2="Annuler"
                      form(action="/profils/"+article.a_id+"/edite/comment/"+comments_in_owned[com_index_owned].c_id+"/del",method="post")
                        button#delete.mb-2="Supprimer"
                else
                  div.row
                    div.col-9
                      p.my-text-align-justify= comments_in_owned[com_index_owned].c_content
          - com_index_owned = com_index_owned + 1
  br
  h1.my-anchor.text-center(id="middle")="Les autres posts auxquels vous avez réagi"
  div.row
  -var com_index_reacted = 0
  each article in reacted
    div.container.row.mb-5
      if (article.v_vote != undefined)
        if (article.v_vote == 1)
          div#upped.col-1.align-self-center.text-center.my-text-align-justify
            form(action="/profils/0/vote/cancel/"+user.u_id+"/"+article.a_id+"/article/-1/"+(article.a_score - 1),method="post")
              button#cancel.mb-2="cancel"
            h4=article.a_score
            form(action="/profils/0/vote/udapte/"+user.u_id+"/"+article.a_id+"/article/-1/"+(article.a_score - 2),method="post")
              button="down"
        if (article.v_vote == -1)
          div#downed.col-1.align-self-center.text-center.my-text-align-justify
            form(action="/profils/0/vote/udapte/"+user.u_id+"/"+article.a_id+"/article/1/"+(article.a_score + 2),method="post")
              button#up.mb-2="up"
            h4=article.a_score
            form(action="/profils/0/vote/cancel/"+user.u_id+"/"+article.a_id+"/article/+1/"+(article.a_score + 1),method="post")
              button#cancel="cancel"
      else
        div#nulled.col-1.align-self-center.text-center.my-text-align-justify
          form(action="/profils/0/vote/new/"+user.u_id+"/"+article.a_id+"/article/1/"+(article.a_score + 1),method="post")
            button#up.mb-2="up"
          h4=article.a_score
          form(action="/profils/0/vote/new/"+user.u_id+"/"+article.a_id+"/article/-1/"+(article.a_score - 1),method="post")
            button#down="down"
      div.col-10
        div.row
          a.col-9.text-decoration-none.text-dark(href="/article/"+article.a_id+"?reset=edit")
            h4=article.u_pseudo + ", le " +article.a_date
            h3=article.a_title
            if (article.a_reaction > 1)
              h5=article.a_reaction + " commentaires"
            else
              h5=article.a_reaction + " commentaire"
          a.col-2(href="/profils/0/favorite/"+article.a_id)
            if (article.favorite == null)
              img.my-favorite(src="./not_favorite.png" alt="non favoris" title="Ajouter aux favoris")
            else
              img.my-favorite(src="./favorite.png" alt="favoris" title="Retirer des favoris")
      - while ((comments_in_reacted[com_index_reacted] != undefined) && (article.a_id == comments_in_reacted[com_index_reacted].a_id))
        if ( (com_index_reacted == 0) || (comments_in_reacted[com_index_reacted-1].a_id != article.a_id) )
          div.row
            div.col-10.offset-1.mb-3.mt-2
              if ( (com_index_reacted + 1 == comments_in_reacted.length) || (comments_in_reacted[com_index_reacted+1].a_id != article.a_id) )
                h4= "Votre commentaire: "
              else
                h4= "Vos commentaires: "
        - nb_comment++
          div.row
            div.col-1.my-vertical
            div.col-1.text-center.mb-4
              if (comments_in_reacted[com_index_reacted].v_vote != undefined)
                if (comments_in_reacted[com_index_reacted].v_vote == 1)
                  form(action="/profils/0/vote/cancel/"+user.u_id+"/"+comments_in_reacted[com_index_reacted].c_id+"/comment/-1/"+(comments_in_reacted[com_index_reacted].c_score - 1),method="post")
                    button#cancel.mb-2="cancel"
                  h4.text-success=comments_in_reacted[com_index_reacted].c_score
                  form(action="/profils/0/vote/udapte/"+user.u_id+"/"+comments_in_reacted[com_index_reacted].c_id+"/comment/-1/"+(comments_in_reacted[com_index_reacted].c_score - 2),method="post")
                    button#down="down"
                if (comments_in_reacted[com_index_reacted].v_vote == -1)
                  form(action="/profils/0/vote/udapte/"+user.u_id+"/"+comments_in_reacted[com_index_reacted].c_id+"/comment/1/"+(comments_in_reacted[com_index_reacted].c_score + 2),method="post")
                    button#up.mb-2="up"
                  h4.text-danger=comments_in_reacted[com_index_reacted].c_score
                  form(action="/profils/0/vote/cancel/"+user.u_id+"/"+comments_in_reacted[com_index_reacted].c_id+"/comment/+1/"+(comments_in_reacted[com_index_reacted].c_score + 1),method="post")
                    button#cancel="cancel"
              else
                form(action="/profils/0/vote/new/"+user.u_id+"/"+comments_in_reacted[com_index_reacted].c_id+"/comment/1/"+(comments_in_reacted[com_index_reacted].c_score + 1),method="post")
                  button#up.mb-2="up"
                h4=comments_in_reacted[com_index_reacted].c_score
                form(action="/profils/0/vote/new/"+user.u_id+"/"+comments_in_reacted[com_index_reacted].c_id+"/comment/-1/"+(comments_in_reacted[com_index_reacted].c_score - 1),method="post")
                  button#down="down"
            div.col-9
              if (edit == null)
                div.row
                  div.col-9
                    p= comments_in_reacted[com_index_reacted].c_content
                  div.col-3.row
                    form.col-6(action="/profils/"+article.a_id+"/edite/comment/"+comments_in_reacted[com_index_reacted].c_id+"/processing",method="post")
                      button#edit.mb-2="Editer"
                    form.col-6(action="/profils/"+article.a_id+"/del/comment/"+comments_in_reacted[com_index_reacted].c_id,method="post")
                      button#delete.mb-2="Supprimer"
              else if ( (edit.kind == "comment") && (comments_in_reacted[com_index_reacted].c_id == edit.id) )
                h2.text-center(id="editing")="Edition de votre commentaire"
                form(action="/profils/"+article.a_id+"/edite/comment/"+comments_in_reacted[com_index_reacted].c_id+"/saved",method="post")
                  textarea.col-12(type="text", rows="7", minlength="1", maxlength="40000", required="required", placeholder="Contenu",name="content")=edit.content
                  nav.nav.nav-pills.fs-7.lh-1.justify-content-end
                    button#publish.mb-2="Valider"
                    form(action="foo")
                    form(action="/profils/"+article.a_id+"/edite/comment/"+comments_in_reacted[com_index_reacted].c_id+"/cancel",method="post")
                      button#cancel.mb-2="Annuler"
                    form(action="/profils/"+article.a_id+"/edite/comment/"+comments_in_reacted[com_index_reacted].c_id+"/del",method="post")
                      button#delete.mb-2="Supprimer"
              else
                div.row
                  div.col-9
                    p= comments_in_reacted[com_index_reacted].c_content
        - com_index_reacted = com_index_reacted + 1
      div(id="bottom")
block right
  div#info.mt-5
    article
      header.h1.text-center="Vos informations"
      div
        h4="Pseudo: "+user.u_pseudo
        h4="Mail: "+user.u_mail
        h4.mt-4="Nombre de contribution: "+(owned.length + comments_in_reacted.length)
        h4="Dernière connexion le "+user.u_connexion
    article
      header.h1.text-center.mt-5="Vos favoris"
      div
        a.row.mb-2(href="/favoris?reset=edit")
          - for( var i = 0; i < 5; ++i)
            img.my-favorite(src="./favorite.png" alt="favoris" title="Vos favoris")
            img.my-favorite(src="./not_favorite.png" alt="favoris" title="Vos favoris")
    article
      header.text-center.h1.mt-5="Navigation"
      div
        a.row(href="#top")
          h4.col-auto.text-dark="Vos posts les plus récents"
        if (edit != null)
          a.row(href="#editing")
            h4.text-decoration-none.text-dark="Edition en cours"
        a.row(href="#middle")
          h4.col-auto.text-dark="Les autres posts auxquels vous avez réagi"
        a.row(href="#bottom")
          h4.col-auto.text-dark="Les derniers posts auxquels vous avez réagi"
